@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    cursor: default;

}

input, button, a, .linkthis{
    cursor: pointer;
}

body, html{
    width: 100%;
    min-height: 100vh;
}

body{
    background-color: #1d232a;
    color: #c1c4cc;
}

/* remove blue shadow on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}


.navbar{
    position: sticky;
    top: 0;
    
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 75px;
    margin: .2rem;
}

.navbar p{
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar button{
    padding: 4px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    outline: 1px solid rgba(255, 255, 255, 0.3);

    transition: all .1s ease-in;
}

.navbar button a{
    font-weight: 600;
    cursor: pointer;
}

.navbar button:hover{
    background: rgba(65, 65, 65, 0.2);
    
}


.container{
    
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    margin: 2rem auto;
    width: fit-content;
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background-color: #171c22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register legend{
    margin: .5rem 1rem 2rem 1rem;
    font-weight: 600;
    color: #dadde4;
}

.register label{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: rgba(82, 82, 82, 0.313);
    padding: .4rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #272c32;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.register input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor:text;
}

.register p{
    font-size: 1rem;
}

.register .togglelog{
    color: #dadde4;
}

.register button{
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    padding: .51rem;
    background-color: rgb(18, 70, 214);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: .5rem 0;
}